<!DOCTYPE html>
<html lang="en" ng-app="feedbackApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/highlightjs/styles/atelier-cave.light.css">
</head>
<body ng-controller="feedbackCtrl">
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h1>{{data.question}}<button class="btn btn-default" ng-click="choose()" >提问</button></h1>
    </div>
    <div class="panel-body  text-center">
        <div class="row" ng-repeat="row in data.rows">
            <div class="col-md-1" ng-class="{'jumbotron':luck == person.id }" ng-repeat="person in row">
                <div class="form-group">
                    <input ng-model-options="{ updateOn: 'blur' }" ng-hide="typed(person.name)" class="form-control" type="text" ng-model="person.name">
                    <span class="label label-info" ng-show="typed(person.name)" ng-bind="person.name"></span>
                </div>
                <div class="modal fade" id="model{{person.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">回答</h4>
                            </div>
                            <div class="modal-body row">
                                <div class="col-xs-6">
                                    <textarea class="form-control"  cols="90" rows="20" ng-model="person.answer" ng-change="inputAnswer(person)" tab></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <div class="outputText fill" style="text-align: left;" id="outputText" ng-bind-html="outputText"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="form-group">
                    <button ng-hide="person.answer" class="btn btn-default btn-sm" data-toggle="modal" data-target="#model{{person.id}}">回答</button>
                    <button ng-show="person.answer" class="btn btn-success btn-sm"   data-toggle="modal" data-target="#model{{person.id}}">查看</button>
                    <button class="btn btn-warning btn-sm" type="button" ng-click="person.star = person.star+1">
                        <span class="glyphicon glyphicon-star"></span> <span class="badge" ng-bind="person.star"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row"><input type="text" ng-model="data.question" class="form-control"/></div>
        <div class="row">
            <div class="col-xs-3">
                <button class="btn btn-warning" type="button" ng-click="start()">开始</button>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="data.column" class="form-control"/>
            </div>
            <div class="col-xs-3">
                <input type="text" ng-model="data.row" class="form-control"/>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default" ng-click="class()" >上课</button>
            </div>
    </div>
</div>


</body>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- AngularJS -->
<script src="//cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
<!-- Wilddog -->
<script src="https://cdn.wilddog.com/sdk/js/current/wilddog.js"></script>
<!-- Wild-Angular -->
<script src="https://cdn.wilddog.com/libs/wild-angular/0.0.2/wild-angular.min.js"></script>
<!-- angular-sanitize -->
<script src="./node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<!-- marked -->
<script src="./node_modules/marked/lib/marked.js"></script>
<!-- highlightjs -->
<script src="./node_modules/highlightjs/highlight.pack.js"></script>
<script>
    var app = angular.module("feedbackApp", ["wilddog","ngSanitize"]);
    app.controller("feedbackCtrl", function ($scope, $wilddogObject,$timeout) {
        var ref = new Wilddog("https://zffeedback.wilddogio.com");
        var data = $wilddogObject(ref);
        $scope.back = data;
        data.$bindTo($scope,"data");
        $scope.luck = -1;
        $scope.typed = function(name){
            return !/^[A-Z]/.test(name);
        }
        $scope.choose = function(){
            var count = 0;
            var max = Math.floor(Math.random()*$scope.back.column*$scope.back.row);
            function next(time){
                $timeout(function(){
                    console.log($scope.back.rows,Math.floor(count/$scope.back.column),count%($scope.back.row));
                    var name = $scope.back.rows[Math.floor(count/$scope.back.column)][count%($scope.back.row)].name;
                    if($scope.typed(name) && (count<max)){
                        $scope.luck = count;
                        count++;
                        next(30);
                    }else if(count<max){
                        count++;
                        next(0);
                    }
                },time);
            }
            next(0);
        }
        var rowNames = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
        //上课
        $scope.class = function(){
            var rows = [];
            $scope.back.rows = [];
            for(var i=1;i<=data.column;i++){
                var row = [];
                var rowPrefix = [i];
                for(var j=1;j<=data.row;j++){
                    row.push({
                        id:data.column*(i-1)+(j-1),
                        name: rowNames[i-1]+j,
                        answer: "",
                        star: 0
                    });
                }
                $scope.back.rows.push(row);
                $scope.back.$save($scope.back.rows);
            }
        }
        $scope.start = function(){
            var rows = [];
            $scope.back.rows = [];
            for(var i=1;i<=data.column;i++){
                var row = [];
                var rowPrefix = [i];
                for(var j=1;j<=data.row;j++){
                    row.push({
                        answer: "",
                        star: 0
                    });
                }
                $scope.back.rows.push(row);
                $scope.back.$save($scope.back.rows);
            }
        };

        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false,
            highlight: function (code) {
                return hljs.highlightAuto(code).value;
            }
        });

        $scope.inputAnswer = function(person){
            $scope.inputText = person.answer;
            $scope.$watch("inputText", function(newValue) {
                console.log(newValue);
                $scope.outputText = marked(newValue);
            });
        }
    }).directive('tab', function () {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                element.on('keydown', function (event) {
                    var keyCode = event.keyCode || event.which;
                    if (keyCode === 9) {
                        event.preventDefault();
                        var start = this.selectionStart;
                        var end = this.selectionEnd;
                        element.val(element.val().substring(0, start)
                                + '\t' + element.val().substring(end));
                        this.selectionStart = this.selectionEnd = start + 1;
                        element.triggerHandler('change');
                    }
                });
            }
        }
    });
</script>
</html>