<!DOCTYPE html>
<html lang="en" ng-app="feedbackApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="all.min.css">
</head>
<body ng-controller="feedbackCtrl">
<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h1 ng-bind="data.question"></h1>
        <h2> <button class="btn btn-primary" ng-click="choose()">请回答</button></h2>
    </div>
    <div class="panel-body  text-center">
        <div class="row">
            <div class="col-xs-12 alert alert-success">
                如何签到:大家可以先在编辑器中写好名单，然后拷贝到自己坐位对应的姓名编辑框，直接回车或用鼠标单击别处失去焦点即可
            </div>
        </div>
        <div class="row" ng-repeat="row in data.rows">
            <div class="col-md-1" ng-class="{'jumbotron':luck == person.id }" ng-repeat="person in row">
                <div class="form-group">
                    <input ng-model-options="{ updateOn: 'blur' }" ng-show="!person.name || !typed(person.name)" class="form-control"
                           type="text" ng-model="person.name" enter-confirm>
                    <span ng-dblclick="person.name='R'+person.name" class="label label-info" ng-show="person.name && typed(person.name)" ng-bind="person.name"></span>
                </div>
                <div class="modal fade" id="model{{person.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">回答</h4>
                            </div>
                            <div class="modal-body row">
                                <div class="col-xs-6">
                                    <textarea class="form-control" cols="90" rows="20" ng-model="person.answer"
                                              ng-change="inputAnswer(person.answer)" tab></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <div class="outputText fill" style="text-align: left;" id="outputText"
                                         ng-bind-html="outputText"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="form-group" ng-show="typed(person.name)">
                    <button ng-hide="person.answer" class="btn btn-default"
                            ng-click="show('#model'+person.id,person.answer)">回答
                    </button>
                    <button ng-show="person.answer" class="btn btn-success"
                            ng-click="show('#model'+person.id,person.answer)">查看
                    </button>
                    <button class="btn" type="button btn-xs" ng-click="star(person)">
                         <span class="badge" ng-bind="person.star"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ds-thread" data-thread-key="1" data-title="珠峰课堂" data-url="http://zhufengnodejs.github.io/feedback/"></div>
<script src="all.min.js"></script>
</body>



</html>
